
.reservations-pop-up {
  height: 90vh;
  width: 90vw;
  position: fixed;
  margin: 5vh 5vw;
  top: 0;
  border: black 5px solid;
}

.reservation-close {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  right: 10px;
  top: 10px;
}

.hidden {
  display: none;
}

.show-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vh 5vw;
}

.additional-info {
  display: flex;
}

.info-2 {
  margin-left: 20px;
}
